include document
.flex.flex-col
  .-my-2.overflow-x-auto(class='sm:-mx-6 lg:-mx-8')
    .py-2.align-middle.inline-block.min-w-full(class='sm:px-6 lg:px-8')
      .shadow.overflow-hidden.border-b.border-gray-200(class='sm:rounded-lg')
        table.min-w-full.divide-y.divide-gray-200
          thead.bg-gray-50
            tr
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(scope='col')
                | Repository / commit hash
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(scope='col')
                | Start date / end date
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(scope='col')
                | Status
              th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(scope='col')
                | Command
          tbody.bg-white.divide-y.divide-gray-200
            tr
              td.px-6.py-4.whitespace-nowrap
                .flex.items-center
                  div
                    .text-sm.font-medium.text-gray-900
                      | #{repository}
                    .text-sm.text-gray-500
                      | #{commitHash}
              td.px-6.py-4.whitespace-nowrap
                .text-sm.text-gray-900= startDate
                .text-sm.text-gray-500= endDate
              td.px-6.py-4.whitespace-nowrap
                span.px-2.inline-flex.text-xs.leading-5.font-semibold.rounded-full.text-green-800(class=`${status ? 'bg-green-100' : 'bg-red-100'}`)
                  if status
                    | Success
                  else
                    | Failure
              td.px-6.py-4.whitespace-nowrap.text-sm.text-gray-500
                | #{command}
.grid.w-full.p-4
  code.bg-blue-300.p-4.border-2.border-blue-900.rounded.text-sm.overflow-auto.text-purple-900
    pre= output
